$color-green: #03705B;
$color-light-green: #339A86;
$color-pink: #FF6679;
$color-light-pink: #FF9DAA;
$color-blue: #09C8D8;
$color-light-blue: #B1E3F6;
$color-purple: #525D91;
$color-light-purple: #CAD2F7;
$color-yellow: #FFB43C;
$color-light-yellow: #F8E2BF;